body {
	position: absolute;
	width: 100%;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}

#header {
	background: #777;
	background: -webkit-linear-gradient(black, white);
	background: -o-linear-gradient(black, white);
	background: -moz-linear-gradient(black, white);
	background: linear-gradient(black, white);
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

#header nav {
	width: 75%;
	margin: 0 auto;
	position: relative;
	padding-top: 25px;
}

#header nav a {
	color: black;
	text-decoration: none;
	border-right: 1px solid black;
	padding-right: 5px;
}

#header nav a:last-child {
	border: 0;
}

#content {
	width: 75%;
	margin: 0 auto;
	position: relative;
}

#admin_login input {
	display: block;
	margin: 10px;
}

.row {
	width: 100%;
	display: block;
	position: relative;
}

#footer {
	background: #777;
	background: -webkit-linear-gradient(white, black);
	background: -o-linear-gradient(white, black);
	background: -moz-linear-gradient(white, black);
	background: linear-gradient(white, black);
	width: 100%;
	height: 50px;
	margin-top: 10px;
}

.spinner {
	position: fixed;
	display: none;
	z-index: 100;
}

#orbital {
	background: red;
	border-radius: 20px;
	width: 20px;
	height: 20px;
}

#orbital2 {
	background: blue;
	border-radius: 20px;
	width: 20px;
	height: 20px;
}